pkgbase = blackfire-cli
	pkgdesc = Blackfire Profiler - Fire up your PHP Apps Performance
	pkgver = 1.22.1
	pkgrel = 1
	url = https://blackfire.io
	arch = x86_64
	license = custom
	source_x86_64 = blackfire-cli-1.22.1_x86_64::http://packages.blackfire.io/binaries/blackfire-agent/1.22.1/blackfire-cli-linux_amd64
	md5sums_x86_64 = 198850309f460b789e38680a0fd5414e

pkgname = blackfire-cli

