pkgbase = blackfire-cli
	pkgdesc = Blackfire Profiler - Fire up your PHP Apps Performance
	pkgver = 1.21.1
	pkgrel = 1
	url = https://blackfire.io
	arch = x86_64
	license = custom
	source_x86_64 = blackfire-cli-1.21.1_x86_64::http://packages.blackfire.io/binaries/blackfire-agent/1.21.1/blackfire-cli-linux_amd64
	md5sums_x86_64 = 93475f8b9637af90dae05722a97c625e

pkgname = blackfire-cli

