pkgbase = blackfire-agent
	pkgdesc = Blackfire Profiler - Fire up your PHP Apps Performance
	pkgver = 1.22.1
	pkgrel = 1
	url = https://blackfire.io
	install = blackfire-agent.install
	arch = x86_64
	license = custom
	depends = glibc
	source = blackfire-agent.service
	sha256sums = aec343bca2f712d0dd22ccb43128d479e0280847e9573c2f37c183478f1ebcf6
	source_x86_64 = blackfire-agent-1.22.1_x86_64::http://packages.blackfire.io/binaries/blackfire-agent/1.22.1/blackfire-agent-linux_amd64
	sha256sums_x86_64 = 877ad39dea4a9b0d40f1ec97943abb7349c8558bebdce392d3f25a3b78ee0b58

pkgname = blackfire-agent

