pkgbase = blackfire-agent
	pkgdesc = Blackfire Profiler - Fire up your PHP Apps Performance
	pkgver = 1.22.0
	pkgrel = 1
	url = https://blackfire.io
	install = blackfire-agent.install
	arch = x86_64
	license = custom
	depends = glibc
	source = blackfire-agent.service
	sha256sums = aec343bca2f712d0dd22ccb43128d479e0280847e9573c2f37c183478f1ebcf6
	source_x86_64 = blackfire-agent-1.22.0_x86_64::http://packages.blackfire.io/binaries/blackfire-agent/1.22.0/blackfire-agent-linux_amd64
	sha256sums_x86_64 = 8347802599306bba064f90886986d21773ae315f678e30b312b2901afebab7a6

pkgname = blackfire-agent

