pkgbase = dbeaver
	pkgdesc = A universal database tool for developers and database administrators. Enterprise Edition includes NoSQL database support
	pkgver = 5.3.3
	pkgrel = 1
	url = https://dbeaver.com/
	install = dbeaver.install
	arch = x86_64
	license = GPL
	depends = java-runtime>=1.6
	depends = gtk2
	depends = gtk-update-icon-cache
	noextract = dbeaver-ce-5.3.3-linux.gtk.x86_64.tar.gz
	source = dbeaver.desktop
	source = dbeaver.install
	sha256sums = 612a5c1453ce83688f3b40f19c287309bcb2c86206f8aca7b22835889b7c94a4
	sha256sums = a54659b53f1966395f7e296d448c42e1165ec38f5db20181a9e294f775e1c43b
	source_x86_64 = https://dbeaver.jkiss.org/files/5.3.3/dbeaver-ce-5.3.3-linux.gtk.x86_64.tar.gz
	sha256sums_x86_64 = d79c1430bbd18179206dae364d7456ee0022691e06a10c278f0ef5ccc4f3e03b

pkgname = dbeaver

